/* font-family: 'Barlow Condensed', sans-serif; */
/* font-family: 'Barlow', sans-serif; */

:root {
  --dark-blue: hsl(230, 29%, 20%);
  --dark-grey-blue: hsl(230, 11%, 40%);
  --grey-blue: hsl(231, 7%, 65%);
  --light-grey-blue: hsl(207, 33%, 95%);
  --pink: #ee5a5c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: 0.99em;
  color: var(--dark-blue);
  padding: 20px 0 30px;
}

main {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 200px auto;
  
}

header {
  /* position: relative; */
  grid-column: 1/3;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  height: 54vh;
  width: 51vw;
  background-color: var(--light-grey-blue);
  border-bottom-left-radius: 70px;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 80px;
  left: 160px;
}

.collapse-menu {
  display: none;
}

nav {
  position: absolute;
  top: 60px;
  right: 0;
  width: 51vw;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li:nth-last-child(1)::before {
  margin-right: 30px;
  content: "\2022";  
  color: grey;
}

nav ul li {
  padding: 10px 24px;
}

nav a {
  color: var(--dark-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.82em;
  letter-spacing: 0.05em;
}

.grey span, .grey a {
  color: var(--grey-blue);
}

.left-content, .right-content {
  display: grid;
  align-content: center;
  align-self: center;
}

.left-content {
  grid-column: 1/2;
  align-self: baseline;
  margin-top: 120px;
  padding: 0 90px 0 160px;
}

.upper-caption {
  text-transform: uppercase;
  color: var(--grey-blue);
  font-size: 0.9em;
  letter-spacing: 0.2em;
}

.upper-caption span {
  background-color: var(--dark-blue);
  color: var(--light-grey-blue);
  padding: 3px 5px 5px 9px;
  margin-right: 10px;
  border-radius: 30px;
}

.bottom-caption {
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  width: 290px;
  color: var(--grey-blue);
}

.button-wrapper, button {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 0.87em;
  text-transform: uppercase;
  color: var(--grey-blue);
  letter-spacing: 0.3em;
}

button {
  letter-spacing: 0.1em;
  background-color: var(--pink);
  padding: 16px 30px;
  color: var(--light-grey-blue);
  border-radius: 7px;
  margin-top: 70px;
  margin-right: 20px;
}

.right-content {
  display: grid;
  grid-column: 2/3;
  height: 100%;
  /* align-content: start; */
  background: url('../imgs/illustration-devices.svg') no-repeat;
  background-size: contain;
  background-position: right 0  center;
}

footer {
  background-color: #fff;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  main {
    grid-template-rows: 40px 6fr;
  }

  h1 {
    font-size: 2.8em;
  }

  .hide {
    display: none;
  }

  .collapse-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
  }

  header {
    height: 90px;
  }

  nav {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    width: 91.5vw;
    top: 120px;
  }

  nav ul {
    display: block;
    text-align: center;
  }

  nav ul li:nth-last-child(1)::before {
    content:'';
    display: none;
  }
  
  nav ul li:nth-last-child(1) {
    border-top: 1px solid grey;
    width: 80%;
    margin: 0 auto;
  }

  .left-content {
    padding-left: 90px;
  }

  .right-content {
    background-position-y: 150px;
  }

  .logo {
    left: 90px;
  }
}

@media only screen and (max-width: 768px) {
  main {
    grid-template-rows: minmax(130px, 190px) 300px 1fr;
  }

  .logo {
    left: 40px;
    top: 60px;
  }

  .collapse-menu {
    right: 10px;
    top: -10px;
  }

  h1 {
    font-size: 2.1em;
  }
  .right-content {
    grid-column: 1/3;
    background-position-y: 0px;
    background-size: contain;
  }
  .left-content {
    text-align: center;
    grid-row: 3/span 1;
    grid-column: 1/3;
    padding: 0 40px;
  }

  .bottom-caption {
    width: 100%;
  }

  .button-wrapper {
    text-align: center;
    width: 100%;
    letter-spacing: 0.1em;
  }

  .button-wrapper button {
    display: block;
    margin: 0 auto;
  }
}
